@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
body {
  background: linear-gradient(
    to right,
    rgba(30, 75, 115, 1),
    rgba(255, 255, 255, 0)
  );
  background-repeat: no-repeat;
  background-size: cover;
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(to top, rgb(10, 86, 153), rgba(20, 38, 49, 0));
  margin-top: 0.5rem;
  margin-left: 29%;
  padding-top: 4.3rem;
  width: 40%;
  height: 20.5rem;
}
.height {
  margin: 1.4rem 0;
}
#height {
  font-size: 1.2rem;
  font-weight: 600;
}

#weight {
  font-size: 1.2rem;
  font-weight: 600;
}
#heiht {
  font-weight: 600;
  color: #500204;
}
#weiht {
  font-weight: 600;
  color: #500204;
}

#submit {
  color: #000000;
  padding: 0.2rem;
  background-color: #e0dfdf;
  margin: 1rem 25%;
  cursor: pointer;
  font-size: 0.9rem;
  text-align: center;
  /* padding: 0.7rem 2.8rem; */
}

.w-guide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(
    rgb(6, 33, 56) to right,
    rgba(30, 75, 115, 1),
    rgba(43, 78, 113, 0)
  );
  margin-left: 29%;
  padding-top: 48px;
  width: 40%;
  height: 12rem;
  font-size: 19px;
  /* border: 1.5px solid black; */
}
#head {
  border: 1px solid grey;
  background-color: #a57373;
}
#body {
  background-color: #7f7878;
  width: 12px;
}
button {
  width: 213px;
  height: 44px;
  cursor: pointer;
  margin-top: 3px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 5px;
}
#results {
  /* background-color: #eb0808; */
  /* width: 98px;
  height: 34px; */
  font-size: 16px;
  color: #fcfbfb;
}
